<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class ="footer">
    <ul class = "footer_notice">
        <li><a href="">개인정보 처리방침</a></li>
        <li><a href="">위치정보 이용약관</a></li>
        <li><a href="">사이트맵</a></li>
        <li><a href="">임차문의</a></li>
        <li><a href="">고객문의</a></li>
        <li><a href="">직원채용</a></li>
    </ul>

    <ul class = footer_me>
        <li>달디단coffee</a></li>
        <li>대표이사 : Hwang Ji Hwan</a></li>
        <li>대표번호 : 010-4508-3155</a></li>
        <li>전화주문 : 054-974-3155</a></li>
        <li>문의 : Hwan3155@naver.com</a></li>
    </ul>

    <ul class = "footer_icons">
        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href=""><i class="fa-brands fa-google"></i></a></li>
        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
</footer>
</body>
</html>