<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class = "air none"></div>
<nav class="navibar">
    <div class = "navibar_img">
        <i class="fa-solid fa-ice-cream"></i>
        <a href="#">달디단coffee</a>
    </div>

    <ul class = "navibar_menu">
        <li><a>달아달아</a></li>
        <li><a>메뉴</a></li>
        <li><a>소개글</a></li>
        <li><a>공지</a></li>
        <li><a>오시는 길</a></li>
    </ul>

    <ul class = "navibar_icons">
        <li><a href="#" class = "login">로그인</a></li>
        <form action="/coffee" method="post" class = "login_form none">
            <div class="login_width">
                <i class="fa-solid fa-ice-cream"></i>
                <a href="#">달디단coffee</a><input type="button" value="X" class=" login_close" onclick = winclose()><br>

                아이디<br><input type="text" name = "username" ><br><br>
                비밀번호<br><input type="password" name = "password"><br>
                <input type="submit"  value="로그인" >
                <input type="button" onclick="location.href='Signup'"  value="회원가입">

            </div>
        </form>
    </ul>

    <a href="#" class="navbar_togleBtn">
        <i class="fa-solid fa-burger"></i>
    </a>
</nav>
</body>
</html>