<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/156864af6f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <!--  kakao api-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f0d3a66227fb6d2ff25fb5d07a52fdfa&libraries=services"></script>
    <!-- swiper js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">



</head>
<body>

<div class="wrapper">
    <!-- nav -->

    <div th:replace="common/loginnav"></div>

    <div class="notice" style="margin:0px auto">
        <form method="post" action="/writeproc" >
            <h2 class = "subject">글쓰기</h2>
            <div>
                ID
                <div><input type="text" name="id" class="form-control mb-3" th:value="${login.id}" disabled style="width:25%"></div>
            </div>
            <div>
                게시물 비밀번호
                <div><input type="password"  name="password" placeholder="비밀번호를 입력하세요." class="form-control mb-3" style="width:25%"></div>
            </div>
            <div>
                제목
                <div><input type="text" name="subject" placeholder="제목을 입력하세요." class="form-control mb-3" style="width:50%"></div>
            </div>
            <div>
                내용
                <div><textarea name="content" placeholder="내용을 입력하세요."  class="form-control mb-3" style="width:50%"></textarea></div>
            </div>

            <div>
                <div style="text-align:right">
                    <input type="submit" value="글쓰기" class="button" >&nbsp;
                    <a href="#" onclick="history.go(-1)" class="button">이전으로</a>
                </div>
            </div>
        </form>
    </div>

</div>

<div th:replace ="common/footer"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<script src="../js/main2.js" defer></script>
<script src="../js/common.js" defer></script>
<script src="../js/kakaomap.js" defer></script>

<script src="../js/adclose.js" defer></script>
</body>
</html>